  <div class="body-wrapper">
    <div class="title">
      <h1 class="display-4">
        <i class="material-icons md-16">3d_rotation</i>Eminent Enterprise </h1>
        <mat-icon>3d_rotation</mat-icon>
        
      <h3 class="lead">Background Management System</h3>
    </div>

    <div class="container">
      <div class="jumbotron wrapper">
        <form>
          <a class="dropdown-item signup" href="#">New around here? Sign up</a>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input maxlength="6" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck">
            <label class="form-check-label" for="dropdownCheck">
              Remember me
            </label>
          </div>
        </form>
        <button type="button" class="btn btn-primary btn-lg btn-block">Submit</button>
      </div>
    </div>
  </div>


